<h1>Welcome to Find and Replace!</h1>
<form action="/replace_form">
  <div class="form-group">
     <label for="sentence">Enter your sentence, please.</label>
     <input id="sentence" name="sentence" class="form-control" type="text">
   </div>
   <div class="form-group">
     <label for="oldword">Enter the word you would like substituted out, please.</label>
     <input id="oldword" name="oldword" class="form-control" type="text">
  </div>
   <div class="form-group">
     <label for="newword">Enter the word you would like substituted in, please.</label>
     <input id="newword" name="newword" class="form-control" type="text">
   </div> 
  <button type="submit" class="btn-success">Send</button>
</form>
